body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
svg {
    max-width: 100%;
    height: auto;
}
.report, .aside {
    padding: 0.5em;
    min-height: 100vh;
}

.aside {
    background-color: #aaa;
}

/* Showing of contig info */
.aside>div {
    display: none;
}
.info-block:target {
    display: block;
}


/* Table*/
table {
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
}
td, th {
    border: 1px solid #aaa;
    padding: 0.1rem;
}
td.center {
    text-align: center;
}
th {
    color: white;
    background: #333;
}
th::after {
    margin-left: 0.25em;
    color: #999;
    display: inline-block;
}
th[onclick]::after {
    content: "\21f3";
}
th.asc::after {
    content: "\21e7";
}
td.seq {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-link {
    display: inline-block;
    color: blue;
    text-decoration: none;
    border: 1px solid blue;
    padding: 0.05em 0.1em;
    margin: 0.1em;
    border-radius: 0.25em;
    font-size: 0.8em;
}
.info-link:hover {
    color: red;
    border-color: red;
}