body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
svg {
    max-width: 100%;
    height: auto;
}
.report, .aside {
    padding: 0.5em;
    min-height: 100vh;
}

.aside {
    background-color: #aaa;
}

/* Showing of contig info */
.aside>div {
    display: none;
}
.info-block:target {
    display: block;
}


/* Table*/
table {
    border-collapse: collapse;
    max-width: 100%;
}
td, th {
    border: 1px solid #aaa;
}
th {
    color: white;
    background: #333;
}
th::after, th::before {
    padding: 5px;
    background: #222;
    color: #777;
}
th.asc::after {
    content: "^";
}
th.dsc::after {
    content: "v"
}