/* --color-primary: #19bdff;
    --color-primary-light: #C5EEFF;
    --color-primary-dark: #0C5E7F;
    --color-secondary: #E64200;
    --color-secondary-light: #F8CFBF;
    --color-secondary-dark: #732100;*/

* {
    --color-primary: #2642B5;
    --color-primary-light: #C8CFEC;
    --color-primary-dark: #13215A;
    --color-secondary: #00DB00;
    --color-secondary-light: #D1F8D1;
    --color-secondary-dark: #006E00;
    --color-dark: #333;
    --color-light: #999;
    --color-background: #eee;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: var(--color-dark);
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    color: var(--color-primary);
    font-size: 2rem;
}

.report {
    padding: 0 1em;
}

.details {
    padding: .5em 1em;
    background-color: var(--color-primary-light);
}

.aside-seq {
    word-break: break-all;
    font-family: Roboto Mono, monospace;
}

.aside-seq .highlight {
    color: var(--color-secondary-dark);
    font-weight: 500;
}

.seq {
    word-break: break-all;
    font-family: Roboto Mono, monospace;
}

.prefix,
.suffix {
    color: grey;
}

.overview-link {
    background: var(--color-primary);
    color: var(--color-primary-light);
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
    padding: .25em;
    margin-right: 1em;
}

img {
    max-width: 100%;
}

.template-graphs {
    display: flex;
    flex-wrap: wrap;
}

.template-graphs>* {
    margin: 1em;
    flex-grow: 1;
    flex-basis: 30%;
}


/* Table*/

table {
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
}

.widetable {
    width: 100%;
}

.smallcell {
    min-width: 4rem;
    width: 15%;
}

@media (min-width: 800px) {
    .smallcell {
        width: 10%;
    }
}

td,
th {
    border: 1px solid var(--color-primary-light);
    padding: .1rem;
}

th:first-child {
    border-left-width: 1px;
}

td.center {
    text-align: center;
}

th {
    color: var(--color-primary);
    background: var(--color-background);
    border: 2px solid var(--color-primary);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

th::after {
    margin-left: .25em;
    color: var(--color-primary-light);
    display: inline-block;
}

th[onclick]::after {
    content: "\21f3";
}

th[data-sortorder="asc"]::after {
    content: "\21e7";
}

th[data-sortorder="desc"]::after {
    content: "\21e9";
}

td.seq {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr.selected {
    background-color: var(--color-secondary-light);
}

tr:hover {
    background-color: var(--color-secondary-light);
}

.info-link {
    display: inline-block;
    color: var(--color-primary);
    text-decoration: none;
    border: 1px solid var(--color-primary);
    padding: .05em .1em;
    margin: .1em;
    border-radius: .2rem;
    font-size: .8em;
}

.info-link:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.details th {
    background: none;
    border: none;
}


/* Collapsible regions */

.report label {
    display: block;
    font-size: 2em;
    color: var(--color-background);
    background-color: var(--color-primary);
    padding: .1em .25em;
    display: block;
    border-radius: .2rem;
    margin-top: .5em;
    cursor: pointer;
    user-select: none;
}

.report label::after {
    content: "+";
    border: 1px solid var(--color-primary-light);
    color: var(--color-primary-light);
    border-radius: 50%;
    font-size: .5em;
    padding: .1em .4em;
    float: right;
    margin: .4em 0;
    font-family: "Roboto Mono", monospace;
}

input:checked+label {
    border-radius: .2rem .2rem 0 0;
}

.report input:checked+label::after {
    content: "-";
}

.collapsable {
    display: none;
    border-left: 2px solid var(--color-primary);
}

.collapsable>pre:first-child,
.collapsable>h3:first-child {
    margin: 0;
    padding: 1em;
}

input[type="checkbox"] {
    display: none;
}

input:checked+label+.collapsable {
    display: block;
}


/* Meta data */

.meta-collapsable {
    padding-left: .25em;
}

.meta-collapsable h3:first-child {
    margin-top: 0;
    padding-top: .15em;
}


/* Runtime */

.runtime {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.runtime>div {
    background-color: var(--color-primary);
    margin-left: 5px;
    min-width: 2em;
    position: relative;
}

.runtime p {
    color: var(--color-background);
    margin: .1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.runtime>div:nth-child(odd) {
    background-color: var(--color-primary-light);
}

.runtime>div:first-child {
    margin-left: 0;
}

.runtime-hover {
    display: none;
    position: absolute;
    width: 150px;
    border: 1px solid var(--color-primary);
    padding: .2em;
    background-color: var(--color-background);
    transform: translate(10px, -10px);
    z-index: 100;
}

.runtime-hover span {
    display: block;
}

.runtime-title {
    font-weight: 500;
}

.runtime-time {
    color: var(--color-light);
}

.runtime-desc {
    margin-top: .5em;
    font-size: .75em;
    font-style: italic;
}

.runtime>div:hover .runtime-hover {
    display: block;
}


/* reads alignment */

.reads-alignment {
    display: flex;
    flex-wrap: wrap;
}

.align-block {
    display: flex;
    flex-direction: column;
    height: auto;
}

.align-block.last:not(:last-child):not(:nth-last-child(2)) {
    padding-right: 2px;
    border-right: 5px solid var(--color-primary);
}

.reads-alignment p {
    font-family: "Roboto Mono", monospace;
    order: 2;
    margin-top: 5px;
}

.reads-alignment .seq {
    color: var(--color-primary);
    font-weight: 500;
}

.reads-alignment .number {
    color: var(--color-secondary);
}

.align-link {
    color: var(--color-primary-dark);
    text-decoration: none;
}

.align-link.unique {
    font-weight: 500;
}

.coverage-depth-wrapper {
    height: 50px;
    order: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.coverage-depth-bar {
    height: calc(var(--value) / var(--max-value) * 50px);
    background-color: var(--color-primary-dark);
    width: calc(1ch - 2px);
    display: inline-block;
    margin: 0 1px;
}

.align-link.hover {
    color: var(--color-secondary);
    font-weight: 500;
}

.read-link.hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.front-overhang {
    text-align: right;
    margin-right: .5em;
}

.end-overhang {
    text-align: left;
    margin-left: .5em;
}

.overhang-block .symbol {
    letter-spacing: -4px;
    opacity: .5;
    margin-right: .25em;
}

.overhang-block .text {
    display: none;
}

.front-overhang-spacing,
.end-overhang-spacing {
    height: 73px;
    display: block;
}

input:checked+label .overhang-block .symbol {
    display: none;
}

input:checked+label .overhang-block .text {
    display: inline-block;
}

.reads-alignment label {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: var(--color-dark);
    background-color: transparent;
}

.reads-alignment label::before {
    content: "+";
    color: var(--color-primary-light);
    background-color: var(--color-primary-dark);
    margin: .2em;
    padding: .1em .4em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.reads-alignment input:checked+label::before {
    content: "-";
    padding: .1em .45em;
}


/* Original sequence peaks */

.original-sequence {
    display: flex;
}

.original-sequence>div {
    width: 1ch;
}

.modification {
    font-size: .5em;
    margin: 0;
    margin-top: -2em;
    padding: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.original-sequence p {
    font-family: "Roboto Mono", monospace;
}


/* footer */

.footer {
    margin: 3em 0;
}

.footer p {
    color: var(--color-light);
}


/* JS-settings */

.js-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.js-settings p {
    margin: 0;
    margin-right: .5em;
}


/* Toggle switch */


/* based on an example by w3schools */

.js-toggle {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
}

.js-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.js-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-light);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2em;
}

.js-toggle .slider:before {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.1em;
    left: .2em;
    bottom: .2em;
    background-color: var(--color-background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--color-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-primary);
    ;
}

input:checked+.slider:before {
    transform: translateX(1em);
}


/* Sequence Logo */

.sequence-logo {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--sequence-logo-fontsize);
    font-family: Roboto Mono, monospace;
    margin-top: -1em;
    margin-bottom: 1.5em;
    color: var(--color-primary);
}

.sequence-logo-position {
    height: var(--sequence-logo-height);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.sequence-logo-position span {
    line-height: 75%;
    font-size: calc(var(--scale) * .75em);
}


/* Histograms */

.table-header {
    display: flex;
    gap: 10px;
    padding-bottom: 1em;
}

.table-header>div {
    flex: 1 1 1px;
    padding: 0 .5em;
    box-shadow: 27px 0 0 -25px var(--color-primary);
}

.table-header>div:last-child {
    box-shadow: none;
}

.table-header h3 {
    margin: 0;
    padding: 1em;
}

.histogram {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-auto-flow: column;
    grid-template-columns: 3ch;
    gap: 5px;
}

.histogram .yaxis {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.histogram .bar {
    background-color: var(--color-primary);
    align-self: end;
    display: flex;
    flex-direction: column;
}

.histogram .bar span {
    color: var(--color-primary-light);
    opacity: 0;
    transition: opacity .25s;
    padding-top: 3px;
    align-self: center;
}

.histogram .bar:hover span {
    opacity: 1;
}

.histogram .label {
    justify-self: center;
    font-size: .8em;
    font-weight: 500;
}

.grouped.histogram {
    grid-template-columns: none;
    gap: 8px;
}

.group {
    display: flex;
    flex-direction: row;
}

.group .bar {
    flex: 1 1 1px;
    align-self: flex-end;
    margin: 0 2px;
}

.grouped .tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    padding: .5em;
    border: 1px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
    border-radius: .2rem;
    font-size: .8em;
}

.tooltip .dim {
    display: block;
}

.tooltip .dim:before,
.histogram-header span:before {
    content: "";
    display: inline-block;
    background: currentColor;
    width: .8em;
    height: .8em;
    border-radius: .2rem;
    margin-right: .5em;
}

.group:hover .tooltip {
    display: block;
}

.histogram-header {
    margin-top: -1.25em;
    margin-bottom: .25em;
    font-weight: 500;
}

.histogram-header span {
    color: var(--color-primary);
    margin: .5em;
    font-size: .8em;
}

.tooltip .dim:nth-child(4n+1),
.histogram-header span:nth-child(4n+1) {
    color: var(--color-primary-dark);
}

.tooltip .dim:nth-child(4n+2),
.histogram-header span:nth-child(4n+2) {
    color: var(--color-secondary);
}

.tooltip .dim:nth-child(4n+3),
.histogram-header span:nth-child(4n+3) {
    color: var(--color-secondary-dark);
}

.group .bar:nth-child(4n+1) {
    background-color: var(--color-primary-dark);
}

.group .bar:nth-child(4n+2) {
    background-color: var(--color-secondary);
}

.group .bar:nth-child(4n+3) {
    background-color: var(--color-secondary-dark);
}


/* Special rules for depth of coverage plots */

.docplot {
    flex-basis: 100%;
}

.docplot .histogram {
    grid-template-rows: 50px 1fr;
    gap: 0;
    grid-auto-columns: minmax(0, 1fr);
}

.docplot .histogram .bar span {
    position: absolute;
    color: var(--color-dark)
}

.docplot .histogram .label {
    overflow-x: visible;
}


/* Alignment details index menu */

.alignment-details {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    background: var(--color-background);
    padding: 1em;
}

.alignment-details.active {
    display: block;
}

.alignment-details h4 {
    padding: 1em;
    margin: 0;
}

.alignment-details td {
    border: none;
}

.alignment-details .histogram {
    grid-template-rows: 1ch 1fr;
    grid-template-columns: none;
}

.alignment-details .histogram .label {
    font-size: .7em;
}

.alignment-details .histogram .yaxis,
.alignment-details .histogram .empty {
    display: none;
}

.sequence-match-graphic {
    display: flex;
}

.sequence-match-graphic>* {
    padding: 1px;
    height: 1ch
}

.sequence-match-graphic .match {
    background-color: var(--color-primary);
}

.sequence-match-graphic .gap-in-template {
    background-color: var(--color-secondary);
}

.sequence-match-graphic .gap-in-query {
    background-color: var(--color-dark);
}

[aria-hidden="true"] {
    opacity: 0;
    position: absolute;
    z-index: -9999;
    pointer-events: none;
}