* {
    --color-primary: #569CD6;
    --color-primary-shade: #1d4f78;
    --color-secondary: #4EC9B0;
    --color-tertiary: #F48771;
    --color-dark: #1E1E1E;
    --color-light: #7E7E7E;
    --color-background: #eee;
}

@media (prefers-color-scheme: dark) {
    * {
        --color-primary: #569CD6;
        --color-primary-shade: #9CDCFE;
        --color-secondary: #F48771;
        --color-tertiary: #DCD08F;
        --color-dark: #D4D4D4;
        --color-light: #7E7E7E;
        --color-background: #1E1E1E;
    }
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: var(--color-dark);
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    color: var(--color-primary);
    font-size: 2rem;
    padding-top: 1rem;
}

.report {
    padding: 0 1em;
}

.details {
    padding: .5em 1em;
}

.aside-seq {
    word-break: break-all;
    font-family: Roboto Mono, monospace;
    user-select: all;
}

.aside-seq .highlight {
    color: var(--color-tertiary);
    font-weight: 500;
}

.seq {
    word-break: break-all;
    font-family: Roboto Mono, monospace;
}

.prefix,
.suffix {
    color: grey;
}

.overview-link {
    background: var(--color-primary);
    color: var(--color-background);
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
    padding: .25em;
    margin-right: 1em;
}

img {
    max-width: 100%;
}

.template-graphs {
    display: flex;
    flex-wrap: wrap;
}

.template-graphs>* {
    margin: 1em;
    flex-grow: 1;
    flex-basis: 30%;
}


/* Table*/

table {
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
}

.widetable {
    width: 100%;
}

.smallcell {
    min-width: 4rem;
    width: 15%;
}

@media (min-width: 800px) {
    .smallcell {
        width: 10%;
    }
}

td,
th {
    border: 1px solid var(--color-light);
    padding: .1rem;
}

td.center {
    text-align: center;
}

th {
    color: var(--color-primary);
    background: var(--color-background);
    border: 2px solid var(--color-primary);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    font-weight: 500;
    position: relative;
}

th[onclick]::after,
th[onclick]::before {
    color: var(--color-light);
    display: inline-block;
    position: absolute;
    right: .25rem;
    font-size: .6em;
}

th[onclick]::after {
    content: "\25B2";
    top: 0;
}

th[onclick]::before {
    content: "\25BC";
    bottom: 0;
}

th[data-sortorder="asc"]::after,
th[data-sortorder="desc"]::before {
    color: var(--color-primary);
}

td.seq {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report tr:target,
.report tr:hover,
.report tr.selected {
    color: var(--color-tertiary);
    --color-primary: var(--color-tertiary);
}

.report tr:target .info-link,
.report tr:hover .info-link,
.report tr.selected .info-link {
    border-color: var(--color-tertiary);
    color: var(--color-tertiary);
}

.report tr:target td.bar::before,
.report tr:hover td.bar::before,
.report tr.selected td.bar::before {
    background: var(--color-tertiary);
}

.info-link {
    display: inline-block;
    color: var(--color-primary);
    text-decoration: none;
    border: 1px solid var(--color-primary);
    padding: .05em .1em;
    margin: .1em;
    border-radius: .2rem;
    font-size: .8em;
}

.info-link:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

td.bar {
    position: relative;
}

td.bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--relative-value) * 100%);
    height: 100%;
    opacity: 0.35;
    z-index: -1;
    background: var(--color-primary);
}


/* Annotated Consensus Sequences */

.annotated {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    font-family: Roboto Mono, monospace;
    align-items: baseline;
}

.annotated>* {
    display: flex;
    flex-direction: column;
}

.annotated .dif {
    font-weight: bold;
}

.annotated .title,
.annotated .names {
    font-style: italic;
    color: var(--color-light);
    font-family: "Roboto", sans-serif;
    padding-right: .25em;
}

.annotated .title {
    position: absolute;
    transform: translateY(-1em);
}

.annotated .CDR1,
.annotated .CDR2,
.annotated .CDR3 {
    color: var(--color-secondary);
}

.annotated .conserved {
    color: var(--color-tertiary);
}

.annotated .glycosylationsite {
    color: var(--color-primary);
}

.annotated.legend {
    gap: 1em;
}


/* Tables on template detail pages */

.details table[id^="template-table"] th:first-child {
    display: none;
}

.details table[id^="template-table"] th::after {
    display: none;
}

.details table[id^="template-table"] td:first-child {
    display: none;
}

.details table[id^="template-table"] td.bar:before {
    display: none;
}


/* Collapsible regions */

.report label {
    display: block;
    font-size: 2em;
    color: var(--color-background);
    background-color: var(--color-primary);
    padding: .1em .25em;
    display: block;
    border-radius: .2rem;
    margin-top: .5em;
    cursor: pointer;
    user-select: none;
}

.report label::after {
    content: "+";
    border: 2px solid var(--color-background);
    color: var(--color-background);
    border-radius: 50%;
    font-size: .5em;
    font-weight: bold;
    padding: 0 .4em .1em .4em;
    float: right;
    margin: .4em 0;
    font-family: "Roboto Mono", monospace;
}

.report .collapsable>label {
    font-size: 1.5em;
    border: 2px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
    font-weight: 500;
}

.report .collapsable>label::after {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

input:checked+label {
    border-radius: .2rem .2rem 0 0;
}

.report input:checked+.collapsable>label::after {
    content: "-";
}

.collapsable {
    display: none;
    border-left: 2px solid var(--color-primary);
    padding-left: .5rem;
    overflow: auto;
}

.source-code {
    margin: 0;
    padding-top: 1em;
    line-height: 1.618;
    font-family: 'Roboto Mono';
    font-size: 12px;
}

input[type="checkbox"] {
    display: none;
}

input:checked+label+.collapsable {
    display: block;
}


/* Meta data */

.meta-collapsable {
    padding-left: .25em;
}

.meta-collapsable h3:first-child {
    margin-top: 0;
    padding-top: .15em;
}


/* Runtime */

.runtime {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.runtime>div {
    background-color: var(--color-primary);
    margin-left: 5px;
    min-width: 2em;
    position: relative;
}

.runtime p {
    color: var(--color-background);
    margin: .1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.runtime>div:nth-child(odd) {
    background-color: var(--color-primary-shade);
}

.runtime>div:first-child {
    margin-left: 0;
}

.runtime-hover {
    display: none;
    position: absolute;
    width: 150px;
    border: 1px solid var(--color-primary);
    padding: .2em;
    background-color: var(--color-background);
    transform: translate(10px, -10px);
    z-index: 100;
}

.runtime-hover span {
    display: block;
}

.runtime-title {
    font-weight: 500;
}

.runtime-time {
    color: var(--color-light);
}

.runtime-desc {
    margin-top: .5em;
    font-size: .75em;
    font-style: italic;
}

.runtime>div:hover .runtime-hover {
    display: block;
}


/* reads alignment */

.reads-alignment {
    display: flex;
    flex-wrap: wrap;
}

.align-block {
    display: flex;
    flex-direction: column;
    height: auto;
}

.align-block.last:not(:last-child):not(:nth-last-child(2)) {
    padding-right: 2px;
    border-right: 5px solid var(--color-primary);
}

.reads-alignment p {
    font-family: "Roboto Mono", monospace;
    order: 2;
    margin-top: 5px;
}

.reads-alignment .seq {
    color: var(--color-primary);
    font-weight: 500;
}

.reads-alignment .number {
    color: var(--color-secondary);
}

.align-link {
    color: var(--color-primary-shade);
    text-decoration: none;
}

.align-link.unique {
    font-weight: 500;
}

.coverage-depth-wrapper {
    height: 50px;
    order: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.coverage-depth-bar {
    height: calc(var(--value) / var(--max-value) * 50px);
    background-color: var(--color-primary-shade);
    width: calc(1ch - 2px);
    display: inline-block;
    margin: 0 1px;
}

.align-link.hover {
    color: var(--color-secondary);
    font-weight: 500;
}

.read-link.hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.front-overhang {
    text-align: right;
    margin-right: .5em;
}

.end-overhang {
    text-align: left;
    margin-left: .5em;
}

.overhang-block .symbol {
    letter-spacing: -4px;
    opacity: .5;
    margin-right: .25em;
}

.overhang-block .text {
    display: none;
}

.front-overhang-spacing,
.end-overhang-spacing {
    height: 73px;
    display: block;
}

input:checked+label .overhang-block .symbol {
    display: none;
}

input:checked+label .overhang-block .text {
    display: inline-block;
}

.reads-alignment label {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: var(--color-dark);
    background-color: transparent;
}

.reads-alignment label::before {
    content: "+";
    color: var(--color-background);
    background-color: var(--color-primary-shade);
    margin: .2em;
    padding: .1em .4em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.reads-alignment input:checked+label::before {
    content: "-";
    padding: .1em .45em;
}


/* Original sequence peaks */

.original-sequence {
    display: flex;
}

.original-sequence>div {
    width: 1ch;
}

.modification {
    font-size: .5em;
    margin: 0;
    margin-top: -2em;
    padding: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.original-sequence p {
    font-family: "Roboto Mono", monospace;
}


/* footer */

.footer {
    margin: 3em 0;
}

.footer p {
    color: var(--color-light);
}


/* JS-settings */

.js-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.js-settings p {
    margin: 0;
    margin-right: .5em;
}


/* Toggle switch */


/* based on an example by w3schools */

.js-toggle {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
}

.js-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.js-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2em;
}

.js-toggle .slider:before {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.1em;
    left: .2em;
    bottom: .2em;
    background-color: var(--color-background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--color-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-primary);
    ;
}

input:checked+.slider:before {
    transform: translateX(1em);
}


/* Sequence Logo */

.sequence-logo {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--sequence-logo-fontsize);
    font-family: Roboto Mono, monospace;
    margin-top: -1em;
    margin-bottom: 1.5em;
    color: var(--color-primary);
}

.sequence-logo-position {
    height: var(--sequence-logo-height);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.sequence-logo-position span {
    line-height: 75%;
    font-size: calc(var(--scale) * .75em);
}


/* Histograms */

.table-header {
    display: flex;
    gap: 10px;
    padding-bottom: 1em;
}

.table-header>div {
    flex: 1 1 1px;
    padding: 0 .5em;
}

.table-header>div:last-child {
    box-shadow: none;
}

.table-header h3 {
    margin: 0;
    padding: 1.5em 0;
    color: var(--color-primary);
}

.histogram {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-auto-flow: column;
    grid-template-columns: 3ch;
    gap: 5px;
}

.histogram .yaxis {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid var(--color-light);
    padding-right: 2px;
    align-items: flex-end;
}

.histogram .bar {
    background-color: var(--color-primary);
    align-self: end;
    display: flex;
    flex-direction: column;
}

.histogram .bar span {
    color: var(--color-background);
    opacity: 0;
    transition: opacity .25s;
    padding-top: 3px;
    align-self: center;
}

.histogram .bar:hover span {
    opacity: 1;
}

.histogram .label {
    justify-self: center;
    font-size: .8em;
    font-weight: 500;
}

.grouped.histogram {
    grid-template-columns: none;
    gap: 8px;
}

.group {
    display: flex;
    flex-direction: row;
}

.group .bar {
    flex: 1 1 1px;
    align-self: flex-end;
    margin: 0 2px;
}

.grouped .tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    padding: .5em;
    border: 1px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
    border-radius: .2rem;
    font-size: .8em;
}

.tooltip .dim {
    display: block;
}

.tooltip .dim:before,
.histogram-header span:before {
    content: "";
    display: inline-block;
    background: currentColor;
    width: .8em;
    height: .8em;
    border-radius: .2rem;
    margin-right: .5em;
}

.group:hover .tooltip {
    display: block;
}

.histogram-header {
    margin-top: -1.25em;
    margin-bottom: .25em;
    font-weight: 500;
}

.histogram-header span {
    color: var(--color-primary);
    margin: .5em;
    font-size: .8em;
}

.tooltip .dim:nth-child(4n+1),
.histogram-header span:nth-child(4n+1) {
    color: var(--color-primary-shade);
}

.tooltip .dim:nth-child(4n+2),
.histogram-header span:nth-child(4n+2) {
    color: var(--color-secondary);
}

.tooltip .dim:nth-child(4n+3),
.histogram-header span:nth-child(4n+3) {
    color: var(--color-tertiary);
}

.group .bar:nth-child(4n+1) {
    background-color: var(--color-primary-shade);
}

.group .bar:nth-child(4n+2) {
    background-color: var(--color-secondary);
}

.group .bar:nth-child(4n+3) {
    background-color: var(--color-tertiary);
}


/* Point graph */

.point-graph label {
    font-size: 1em;
    border: 2px solid var(--color-light);
    background: none;
    font-weight: normal;
    color: var(--color-dark);
    display: inline-block;
    margin-right: .5em;
}

.point-graph .values:hover+.label a {
    color: var(--color-tertiary);
}

.point-graph input:checked+label {
    border-color: var(--color-primary);
    border-radius: .2rem;
}

.point-graph label::before {
    content: "";
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: var(--color);
    border: 2px solid var(--color);
    margin-right: .5em;
    margin-left: .5em;
}

.point-graph label::after {
    content: unset;
}

.point-graph .graph {
    margin-top: .5em;
    display: flex;
    gap: 8px;
}

.point-graph .group {
    display: grid;
    grid-template-rows: 500px 100px;
    grid-auto-flow: column;
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
}

.point-graph .group::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    background: var(--color-primary);
}

.point-graph .values {
    position: relative;
}

.point-graph .point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: none;
    background: var(--color);
    border: 2px solid var(--color);
    position: absolute;
    left: 0;
    top: calc((1 - var(--x)) * 500px);
}

.point-graph .point:nth-child(3n+1),
.point-graph label:nth-of-type(3n+1) {
    --color: var(--color-primary);
}

.point-graph .point:nth-child(3n+2),
.point-graph label:nth-of-type(3n+2) {
    --color: var(--color-secondary);
}

.point-graph .point:nth-child(3n),
.point-graph label:nth-of-type(3n) {
    --color: var(--color-tertiary);
}

.point-graph .point:nth-child(6n+4),
.point-graph label:nth-of-type(6n+4)::before,
.point-graph .point:nth-child(6n+5),
.point-graph label:nth-of-type(6n+5)::before,
.point-graph .point:nth-child(6n),
.point-graph label:nth-of-type(6n)::before {
    background: none;
}

.point-graph .showdata-0:checked~* .point:nth-child(1) {
    display: block;
}

.point-graph .showdata-1:checked~* .point:nth-child(2) {
    display: block;
}

.point-graph .showdata-2:checked~* .point:nth-child(3) {
    display: block;
}

.point-graph .showdata-3:checked~* .point:nth-child(4) {
    display: block;
}

.point-graph .showdata-4:checked~* .point:nth-child(5) {
    display: block;
}

.point-graph .showdata-5:checked~* .point:nth-child(6) {
    display: block;
}

.point-graph .label {
    position: relative;
    display: inline-block;
}

.point-graph .label>* {
    overflow: hidden;
    height: 10px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 6px;
    transform-origin: left;
    font-size: 10px;
    transform: rotate(90deg);
    color: var(--color-dark);
}

.point-graph .group-label {
    position: absolute;
    right: -15px;
    top: 30px;
    color: var(--color-background);
    font-weight: 500;
    font-size: 1.5em;
    overflow: hidden;
    transform: rotate( 90deg);
}


/* Special rules for depth of coverage plots */

.docplot {
    flex-basis: 100%;
}

.docplot .histogram {
    grid-template-rows: 50px 1fr;
    gap: 0;
    grid-auto-columns: minmax(0, 1fr);
}

.docplot .histogram .bar span {
    position: absolute;
    color: var(--color-dark)
}

.docplot .histogram .label {
    overflow-x: visible;
}


/* Alignment details index menu */

.alignment-details {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    background: var(--color-background);
    border: 2px solid var(--color-primary);
    border-bottom: none;
    border-right: none;
    padding: 1em;
    padding-top: 0;
}

.alignment-details.active {
    display: block;
}

.alignment-details h4 {
    padding: 1em;
    margin: 0;
}

.alignment-details td {
    border: none;
}

.alignment-details .histogram {
    grid-template-rows: 1ch 1fr;
    grid-template-columns: none;
}

.alignment-details .histogram .label {
    font-size: .7em;
}

.alignment-details .histogram .yaxis,
.alignment-details .histogram .empty {
    display: none;
}

.sequence-match-graphic {
    display: flex;
}

.sequence-match-graphic>* {
    padding: 1px;
    height: 1ch
}

.sequence-match-graphic .match {
    background-color: var(--color-primary);
}

.sequence-match-graphic .gap-in-template {
    background-color: var(--color-secondary);
}

.sequence-match-graphic .gap-in-query {
    background-color: var(--color-dark);
}

[aria-hidden="true"] {
    opacity: 0;
    position: absolute;
    z-index: -9999;
    pointer-events: none;
}